@model IEnumerable<Sigv.Domain.Veiculo>

@{
    Layout = null;
}

<link href="~/Content/styles/Site.css" rel="stylesheet" type="text/css" />

<table width="100%">

    <tr class="head-table">
        <td class="row-table-1">Veículo Id</td>
        <td class="row-table-1">Marca</td>
        <td class="row-table-2">Ano</td>
        <td class="row-table-1">Placa</td>
        <td class="row-table-3">Chassi</td>
        <td class="row-table-3">Cor</td>
        <td class="row-table-3">Combustível</td>
        <td class="row-table-3">Espécie</td>
        <td class="row-table-2">Condição</td>
        <td class="row-table-2">Status</td>
    </tr>

    <tbody>
        @foreach (var veiculo in Model)
        {
            <tr class="row-table">
                <td class="row-table-1">@veiculo.VeiculoId.ToString("0000")</td>
                <td class="row-table-1">@veiculo.Marca @veiculo.Modelo</td>
                <td class="row-table-2">@($"{veiculo.AnoFabricacao}/{veiculo.AnoModelo}")</td>
                <td class="row-table-1">@veiculo.Placa</td>
                <td class="row-table-3">@veiculo.Chassi</td>
                <td class="row-table-3">Amarelo</td>
                <td class="row-table-3">@veiculo.Combustivel.Nome</td>
                <td class="row-table-3">@veiculo.Especie.Nome</td>
                <td class="row-table-2">@veiculo.Condicao.Nome</td>
                <td class="row-table-2">@veiculo.Status.Nome</td>
            </tr>
        }
    </tbody>


</table>




