@model Sigv.Domain.Veiculo

@{
    Layout = null;
}

<script>

    $(document).ready(function () {


        // Popula o select dos combustíveis
        popularCombustiveis($("#hidCombustivelId").val());

        // Popula o select das condições
        popularCondicoes($("#hidCondicaoId").val());

        // Popula o select das espécies
        popularEspecies($("#hidEspecieId").val());

        // Popula o select dos status
        popularStatus($("#hidStatusId").val());

    })

    $("#btnSalvarVeiculo").click(function () {
        
        if ($("#Marca").val() == "") {
            JsAlertError("O campo marca é obrigatório!", "server-response", true, function () {
                $("#Marca").focus();
            });
            return false;
        };

        if ($("#Modelo").val() == "") {
            JsAlertError("O campo modelo é obrigatório!", "server-response", true, function () {
                $("#Modelo").focus();
            });
            return false;
        };

        if ($("#Placa").val() == "") {
            JsAlertError("O campo placa é obrigatório!", "server-response", true, function () {
                $("#Placa").focus();
            });
            return false;
        };

        if ($("#AnoFabricacao").val() == "") {
            JsAlertError("Preencha o ano de fabricação!", "server-response", true, function () {
                $("#AnoFabricacao").focus();
            });
            return false;
        };

        if ($("#AnoModelo").val() == "") {
            JsAlertError("Preencha o ano do modelo!", "server-response", true, function () {
                $("#AnoModelo").focus();
            });
            return false;
        };

        if ($("#txCombustivelId").val() == 0 || $("#txCombustivelId").val() == "") {
            JsAlertError("Selecione um combustível.", "server-response", true, function () {
                $("#txCombustivelId").focus();
            });
            return false;
        };

        if ($("#txCondicaoId").val() == 0 || $("#txCondicaoId").val() == "") {
            JsAlertError("Selecione uma condição.", "server-response", true, function () {
                $("#txCondicaoId").focus();
            });
            return false;
        };

        if ($("#txEspecieId").val() == 0 || $("#txEspecieId").val() == "") {
            JsAlertError("Selecione uma espécie.", "server-response", true, function () {
                $("#txEspecieId").focus();
            });
            return false;
        };
        

        var json = $("#formVeiculo").serialize();

        salvarVeiculo(json);

    });


    $("#btnNovo").click(function () {

        window.location.href = "/Veiculo";

    });

    var salvarVeiculo = function (json) {

        $.ajax({
            url: '/Veiculo/SalvarVeiculo',
            method: 'post',
            data: json,
            beforeSend: function () {
                loadingButton($("#btnSalvarVeiculo"), "Salvando ...");
            },
            success: function (data) {

                if (data.Sucesso == false) {
                    JsAlertError(data.Mensagem, "server-response", false, function () {
                        // Sem callback
                    });
                    return false;
                }

                JsAlertSuccess(data.Mensagem, "server-response", true, function () {
                    window.location.href = "/Veiculo/Index?Id=" + data.Id;
                });
            },
            error: function (xhr, textStatus, error) {
                JsAlertError("Houve um erro ao processar a rotina! " + error, "server-response", false, function () {
                    // Sem callback
                });
            },
            complete: function () {
                recoveryButton($("#btnSalvarVeiculo"), "Salvar");
            }
        });

    }

</script>

<form id="formVeiculo">

    <div class="row">

        <input type="hidden" id="hidCombustivelId" value="@Model.CombustivelId" />
        <input type="hidden" id="hidCondicaoId" value="@Model.CondicaoId" />
        <input type="hidden" id="hidEspecieId" value="@Model.EspecieId" />
        <input type="hidden" id="hidStatusId" value="@Model.StatusId" />
        <input type="hidden" id="hidUsuCriacaoId" name="UsuCriacaoId" value="@Model.UsuCriacaoId" />
        <input type="hidden" id="hidDataCriacao" name="UsuDataCriacao" value="@Model.DataCriacao" />
        <input type="hidden" id="VeiculoId" name="VeiculoId" value="@Model.VeiculoId" />
        <input type="hidden" id="StatusId" name="StatusId" value="@Model.StatusId" />

        <div class="col-sm-2">
            <label>Id</label>
            <div class="input-readonly">@Model.VeiculoId.ToString("000000")</div>
        </div>

        <div class="col-sm-3">
            <label>Marca</label>
            <input type="text" class="form-control form-control-sm" name="Marca" id="Marca" value="@Model.Marca" />
        </div>

        <div class="col-sm-5">
            <label>Modelo</label>
            <input type="text" class="form-control form-control-sm" name="Modelo" id="Modelo" value="@Model.Modelo" />
        </div>


        <div class="col-sm-2">
            <label>Status</label>
            <div class="input-readonly">@(Model.StatusId > 0 ? Model.Status.Nome : "-")</div>
        </div>

        <div class="col-sm-3">
            <label>Placa</label>
            <input type="text" class="form-control form-control-sm" name="Placa" id="Placa" value="@Model.Placa" maxlength="9" />
        </div>

        <div class="col-sm-3">
            <label>Chassi</label>
            <input type="text" class="form-control form-control-sm" name="Chassi" id="Chassi" value="@Model.Chassi" maxlength="20"/>
        </div>

        <div class="col-sm-2">
            <label>Ano Fabricação</label>
            <select class="form-control form-control-sm" name="AnoFabricacao" id="AnoFabricacao">
                <option value="">-- Selecione --</option>
                @for (var ano = DateTime.Now.Year; ano >= 1970; ano--)
                {
                    <option value="@ano" @(Model.AnoFabricacao == ano ? "selected" : "")>@ano</option>
                }
            </select>            
        </div>

        <div class="col-sm-2">
            <label>Ano Modelo</label>
            <select class="form-control form-control-sm" name="AnoModelo" id="AnoModelo">
                <option value="">-- Selecione --</option>
                @for (var ano = DateTime.Now.Year; ano >= 1970; ano--)
                {
                    <option value="@ano" @(Model.AnoFabricacao == ano ? "selected" : "")>@ano</option>
                }
            </select>
        </div>

        <div class="col-sm-2">
            <label>Renavam</label>
            <input type="text" class="form-control form-control-sm" name="Renavam" id="Renavam" value="@Model.Renavam" />
        </div>

        <div class="col-sm-3">
            <label>Combustível</label>
            <select class="form-control form-control-sm" name="CombustivelId" id="txCombustivelId">
            </select>
        </div>

        <div class="col-sm-3">
            <label>Condição</label>
            <select class="form-control form-control-sm" name="CondicaoId" id="txCondicaoId">
            </select>
        </div>

        <div class="col-sm-3">
            <label>Espécie</label>
            <select class="form-control form-control-sm" name="EspecieId" id="txEspecieId">
            </select>
        </div>

        <div class="col-sm-3">
            <label>Data Entrada</label>
            <input type="date" class="form-control form-control-sm" name="DataEntrada" id="DataEntrada" value="@(Model.DataEntrada.ToString().Contains("0001") ? "0000-00-00" : Model.DataEntrada.ToString("yyyy-MM-dd"))" />
        </div>

        <div class="col-sm-12">
            <label>Observações</label>
            <textarea class="form-control form-control-sm" name="Observacoes" id="Observacoes">@Model.Observacoes</textarea>
        </div>


        <div class="col-sm-12 mt-2">

            <button type="button" class="btn btn-primary" id="btnSalvarVeiculo">Salvar</button>
            <button type="button" class="btn btn-outline-primary" id="btnNovo" onclick="window.location.href = '/Veiculo';">Novo</button>

        </div>

    </div>

</form>
