@model IEnumerable<Sigv.Domain.Log>

@{
    Layout = null;
}

<table>

    <tr>
        <th class="responsive-screen-1">Log Id</th>
        <th class="responsive-screen-1">Usuário</th>
        <th class="responsive-screen-1">IP</th>
        <th class="responsive-screen-1">Data Log</th>
        <th class="responsive-screen-1">Hora Log</th>
        <th class="responsive-screen-1">Descrição</th>
    </tr>

    <tbody>
        @foreach (var log in Model.OrderByDescending(x => x.DataLog))
        {
            <tr>
                <td class="responsive-screen-1">@log.LogId</td>
                <td class="responsive-screen-1">@log.Usuario.Nome</td>
                <td class="responsive-screen-1">@log.Ip</td>
                <td class="responsive-screen-1">@log.DataLog.ToShortDateString()</td>
                <td class="responsive-screen-1">@log.DataLog.ToLongTimeString()</td>
                <td class="responsive-screen-1">@log.Descricao</td>

            </tr>
        }
    </tbody>


</table>
