@model IEnumerable<Sigv.Domain.Usuario>

@{
    Layout = null;
}

@if(Model.Count() > 0)
{
    <table class="table table-sm small">

        <thead>
            <tr>
                <td class="responsive-screen-1">Usuário Id</td>
                <td class="responsive-screen-1">Nome</td>
                <td class="responsive-screen-2">Login</td>
                <td class="responsive-screen-2">E-mail</td>
                <td class="responsive-screen-2">Grupo</td>
            </tr>
        </thead>  

        <tbody>
            @foreach (var usuario in Model)
            {
                <tr onclick="window.location.href = '/Admin/Usuario?Id=@usuario.UsuarioId'">
                    <td class="responsive-screen-1">@usuario.UsuarioId.ToString("0000")</td>
                    <td class="responsive-screen-1">@usuario.Nome</td>
                    <td class="responsive-screen-2">@usuario.Login</td>
                    <td class="responsive-screen-2">@usuario.Email</td>
                    <td class="responsive-screen-2">@usuario.Grupo.Nome</td>
                </tr>
            }
        </tbody>


    </table>
}
else
{
    <span>Nenhum usuário localizado</span>
}



