@model IEnumerable<Sigv.Domain.Usuario>

@{
    Layout = null;
}

@if (Model.Count() > 0)
{
    <table>

        <thead>
            <tr>
                <th class="responsive-screen-1">Usuário Id</th>
                <th class="responsive-screen-1">Nome</th>
                <th class="responsive-screen-2">Login</th>
                <th class="responsive-screen-2">E-mail</th>
                <th class="responsive-screen-2">Grupo</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var usuario in Model)
            {
                <tr class="cursor-clicker" onclick="window.location.href = '/Admin/Usuario?Id=@usuario.UsuarioId'">
                    <td class="responsive-screen-1">@usuario.UsuarioId.ToString("0000")</td>
                    <td class="responsive-screen-1">@usuario.Nome</td>
                    <td class="responsive-screen-2">@usuario.Login</td>
                    <td class="responsive-screen-2">@usuario.Email</td>
                    <td class="responsive-screen-2">@usuario.Grupo.Nome</td>
                </tr>
            }
        </tbody>


    </table>
}
else
{
    <span>Nenhum resgistro localizado</span>
}