@model Sigv.Domain.Usuario

@{
    ViewBag.Title = "Usuários";
}



<div class="row">

    <div class="col-sm-12">
        <h5>Usuário</h5>
        <hr />
    </div>

</div>

<form id="formUsuario">

    <div class="row">

        <div class="col-sm-2">
            <label>Id</label>
            <input type="hidden" class="form-control form-control-sm" name="UsuarioId" id="UsuarioId" value="@Model.UsuarioId" />
            <div class="input-readonly">@Model.UsuarioId.ToString("0000")</div>
        </div>

        <div class="col-sm-4">
            <label>Nome</label>
            <input type="text" class="form-control form-control-sm" name="Nome" id="Nome" value="@Model.Nome" />
        </div>

        <div class="col-sm-6">
            <label>Email</label>
            <input type="email" class="form-control form-control-sm" name="Email" id="Email" value="@Model.Email" />
        </div>

        <div class="col-sm-3">
            <label>Login</label>
            <input type="text" class="form-control form-control-sm" name="Login" id="Login" value="@Model.Login" ) />
        </div>

        <div class="col-sm-3">
            <label>Data Expira</label>
            <input type="text" class="form-control form-control-sm" name="DataExpira" id="DataExpira" value="@(Model.DataExpira.ToShortDateString().Contains("0001") ? "" : Model.DataExpira.ToShortDateString())" readonly disabled />
        </div>

        <div class="col-sm-4">
            <label>Grupo</label>
            <select class="form-control form-control-sm" name="GrupoId" id="GrupoId">
                <option value=""></option>
                <option value="1" @(Model.GrupoId == 1 ? "selected" : "")>Comum</option>
                <option value="2" @(Model.GrupoId == 2 ? "selected" : "")>Editor</option>
                <option value="3" @(Model.GrupoId == 3 ? "selected" : "")>Gerente</option>
                <option value="4" @(Model.GrupoId == 4 ? "selected" : "")>Administrador</option>
                <option value="5" @(Model.GrupoId == 5 ? "selected" : "")>Desenvolvedor</option>
            </select>
        </div>

        <div class="col-sm-2">
            <label>Bloqueado</label>
            <input type="checkbox" name="Bloqueado" id="Bloqueado" value="true" @(Model.Bloqueado == true ? "checked" : "") />
        </div>

        <div class="col-sm-12 mt-2">

            <button type="button" class="btn btn-primary" id="btnSalvarUsuario">Salvar</button>
            <button type="button" class="btn btn-outline-primary" id="btnEnviarSenha">Enviar Senha</button>
            <button type="button" class="btn btn-outline-primary" id="btnNovo">Novo</button>

        </div>

    </div>

</form>

<div class="row mt-3">

    <div class="col-sm-12">
        <h6>Logs</h6>
        <div class="div-listar scroll" style="height: calc(100vh - 407px);" id="divListarLogs"></div>

    </div>

</div>


<script>

    $(document).ready(function () {

        listarLogs("Usuario", $("#UsuarioId").val());

        if ($("#UsuarioId").val() > 0) {

            $("#Login").attr("disabled", "disabled");

        };

    });

    $("#btnSalvarUsuario").click(function () {

        if ($("#Nome").val() == "") {
            JsAlertError("O campo nome é obrigatório!", "server-response", true, function () {
                $("#Nome").focus();
            });
            return false;
        };

        if ($("#Login").val() == "") {
            JsAlertError("O campo login é obrigatório!", "server-response", true, function () {
                $("#Login").focus();
            });
            return false;
        };

        if ($("#Email").val() == "") {
            JsAlertError("O campo e-mail é obrigatório!", "server-response", true, function () {
                $("#Email").focus();
            });
            return false;
        };

        if ($("#GrupoId").val() == 0 || $("#GrupoId").val() == "") {
            JsAlertError("Selecione um grupo de permissões.", "server-response", true, function () {
                $("#GrupoId").focus();
            });
            return false;
        };

        var json = $("#formUsuario").serialize();

        salvarUsuario(json);

    });

    $("#btnEnviarSenha").click(function () {

        enviarSenha($("#UsuarioId").val());

    });

    $("#btnNovo").click(function () {

        window.location.href = "/Admin/Usuario";

    });

    var salvarUsuario = function (json) {

        $.ajax({
            url: '/Admin/SalvarUsuario',
            method: 'post',
            data: json,
            beforeSend: function () {
                loadingButton($("#btnSalvarUsuario"), "Salvando ...");
            },
            success: function (data) {

                if (data.Id) {
                    JsAlertSuccess(data.Mensagem, "server-response", true, function () {
                        window.location.href = "/Admin/Usuario?Id=" + data.Id;
                    });
                }
                else
                {
                    JsAlertError(data.Mensagem, "server-response", false, function () {
                        // Sem callback
                    });
                }
            },
            error: function (xhr, textStatus, error) {
                JsAlertError("Erro ao processar a rotina! " + error, "server-response", false, function () {
                    // Sem callback
                });
            },
            complete: function () {
                recoveryButton($("#btnSalvarUsuario"), "Salvar");
            }
        });

    }

    var enviarSenha = function (usuarioId) {

        $.ajax({
            url: "/Admin/EnviarSenha",
            method: "post",
            data: { UsuarioId: usuarioId },
            beforeSend: function () {
                loadingButton($("#btnEnviarSenha"), "Enviando ...");
            },
            success: function (data) {

                if (data.Id) {
                    JsAlertSuccess(data.Mensagem, "server-response", true, function () {
                        window.location.href = "/Admin/Usuario?Id=" + data.Id;
                    });
                }
                else {
                    JsAlertError(data.Mensagem, "server-response", false, function () {
                        // Sem callback
                    });
                }

            },
            error: function (xhr, textStatus, error) {
                JsAlertError("Erro ao processar a rotina! " + error, "server-response", false, function () {
                    // Sem callback
                });
            },
            complete: function () {
                recoveryButton($("#btnEnviarSenha"), "Enviar Senha");
            }
        })

    }

    var listarLogs = function (processo, codReferencia) {

        $.ajax({
            url: "/Admin/ListarLogs?processo=" + processo + "&codReferencia=" + codReferencia,
            method: "get",
            beforeSend: function () {
                loading($("#divListarLogs"), "carregando ...");                
            },
            success: function (data) {
                $("#divListarLogs").html(data);
            },
            error: function (xhr, textStatus, error) {
                $("#divListarLogs").html("Erro ao processar a rotina! " + error);
            }
        });

    }


</script>

